.clothes__section {
  padding-top: 20px;
  padding-right: 40px;

}

.clothes__section-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 16px;
}

.clothes__section-title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.clothes__section-add_button {
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  opacity: 60%;
  cursor: pointer;
  background: none;
}

.clothes__section-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}
