.login__modal-input_label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.login__modal-input {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #000;
}

.login__modal-signup_button {
  border: none;
  background-color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  opacity: 50%;
  cursor: pointer;
  margin-left: 10px;
}
