.sidebar {
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 20px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

.sidebar__edit-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  border: none;
  font-weight: 700;
  background-color: #f3f3f3;
  align-self: flex-start;
}

.sidebar__logout-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  border: none;
  font-weight: 700;
  background-color: #f3f3f3;
  align-self: flex-start;
}
