.toggle__switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 56px;
  height: 40px;  
  cursor: pointer;
}
.toggle__switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__switch-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  border: 2px solid #7e7e7e;
}

.toggle__switch-slider:hover {
  border: 2px solid #000;
}

.toggle__switch-option {
  z-index: 2;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  color: #000;
}

.toggle__switch-dot {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000;
  transition: transform 0.3s ease;
  z-index: 1;
}

.toggle__switch-checkbox:checked + .toggle__switch-slider .toggle__switch-dot {
  transform: translateX(28px);
}

.toggle__switch-checkbox:checked
  + .toggle__switch-slider
  .toggle__switch-option--c {
  color: #fff;
}

.toggle__switch-checkbox:checked
  + .toggle__switch-slider
  .toggle__switch-option--f {
    color: #000;
    opacity: 50%;
  }

.toggle__switch-checkbox:not(:checked)
  + .toggle__switch-slider
  .toggle__switch-option--c {
    color: #000;
    opacity: 50%;
  }

.toggle__switch-checkbox:not(:checked)
  + .toggle__switch-slider
  .toggle__switch-option--f {
  color: #fff;
}

 
