.weather__card {
  position: relative;
  background-color: #00a3ff;
  border-radius: 10px;
  height: 80px;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.weather__card-temp {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  padding-left: 16px;
  z-index: 1;
}

.weather__card-image {
  width: 167px;
  height: 118px;
  object-fit: contain;
  z-index: 1;
}
